@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cinzel:wght@500&family=Ephesis&family=Josefin+Sans:ital,wght@1,100;1,400&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&family=Noto+Sans&family=Playfair+Display:ital,wght@0,400;1,400;1,600;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cinzel:wght@500&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Ephesis&family=Josefin+Sans:ital,wght@1,100;1,400&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&family=Noto+Sans&family=Playfair+Display:ital,wght@0,400;1,400;1,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    background: url(/assets/images/bg1.jpg);
    font-family: 'EB Garamond', serif;
    font-size: 2.2rem;
}

h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    width: 100%;
    font-style: italic;
    color: #ffffcc;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    /* border: 6rem solid;
    border-image-slice: 900;
    border-image-source: url(/assets/images/border_image-01.jpg); */
}

h2.section__heading {
    text-align: center;
    margin-bottom: 5rem;
}

span.bold,
li.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

li.list-item {
    /* color: #eee; */
    margin: 2rem;
    color: #292929;
}

section.biografy__section {
    background-color: #f9f5b9;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    opacity: 0.85;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    max-width: 95%;
}

blockquote {
    font-size: 2rem;
}