@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cinzel:wght@500&family=Ephesis&family=Josefin+Sans:ital,wght@1,100;1,400&family=Noto+Sans&family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 500vh;
}

body {
    height: 100%;
    /* background: url(/assets/images/bg1.jpg); */
}

h1 {
    font-weight: lighter;
    font-family: 'Cinzel', serif;
    text-align: center;
    width: 100%;
    font-style: italic;
    border: 6rem solid;
    border-image-slice: 900;
    border-image-source: url(/assets/images/border_image-01.jpg);
}

.bold {
    font-weight: bold;
}

.header {
    display: block;
    margin: 0 auto;
}

img {
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    /* aspect-ratio: 3/2; */
}

li.list-item {
    /* color: #eee; */
    font-size: 1.4rem;
    margin: 2rem;
    color: #292929;
}

blockquote {
    font-size: 2rem;
}

span.bold {
    font-weight: bold;
}