@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cinzel:wght@500&family=Ephesis&family=Josefin+Sans:ital,wght@1,100;1,400&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&family=Noto+Sans&family=Playfair+Display:ital,wght@0,400;1,400;1,600;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cinzel:wght@500&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Ephesis&family=Josefin+Sans:ital,wght@1,100;1,400&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&family=Noto+Sans&family=Playfair+Display:ital,wght@0,400;1,400;1,600;1,900&display=swap');

:root {
    --main-bg-color: #f9f5b9ee;
    --brds: .3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100vh;
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    height: 100%;
    font-family: 'EB Garamond', serif;
    overflow-x: hidden;
}

.bg-img {
    display: block;
    position: absolute;
    z-index: -1;
}

.tolkien-img {
    width: 100vw;
    height: 100vh;
    border: none;
}

.navbar {
    border: 1px solid #fff;
}

.nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.nav__items {
    list-style: none;
}

.nav__items > a {
    display: block;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: var(--brds);
    background-color: #e3f9b9;
    color: #292929;
    font-weight: bold;
    text-decoration: none;
}

h1.main-heading {
    font-family: 'Merriweather', serif;
    text-align: center;
    width: 100%;
    background-color: transparent;
    font-style: italic;
    font-size: 5rem;
    color: #ffffcc;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: .1rem solid #ffffcc;
    border-bottom: .1rem solid #ffffcc;
}

h2.section__heading {
    font-size: 4.4rem;
    text-align: center;
    margin-bottom: 5rem;
}

span.bold,
li.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

li.list-item {
    font-size: 2.2rem;
    margin: 2rem;
    color: #292929;
    list-style-type: '✦';
    list-style-position: outside;
    padding-inline-start: 1rem;
}

section.biografy__section {
    background-color: var(--main-bg-color);
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    opacity: 0.85;
}

.heading__books {
    display: block;
    width: 100%;
}

section.section-books {
    background-color: var(--main-bg-color);
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.books-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container-books {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: start;
    margin: 3rem 2rem;
    max-width: 25rem;
    max-height: 50rem;
}

.book-name-wrapper {
    width: 100%;
    margin: 0 auto;
}

h3.name-book {
    background-color: #292929;
    color: #fefefe;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    vertical-align: center;
    font-size: 1.8rem;
    border-bottom-left-radius: var(--brds);
    border-bottom-right-radius: var(--brds);
}

.wrapper {
    width: 25rem;
    height: 40rem;
    overflow: hidden;
    margin: 0 auto;
    border-top-left-radius: var(--brds);
    border-top-right-radius: var(--brds);
}

.wrapper img {
    min-width: 25rem;
    min-height: 40rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.wrapper img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease-in-out .2s;
}

.tumbstones {
    padding: 2.5rem;
    background-color: var(--main-bg-color);
}

.tumbstones__description {
    color: #000;
    margin: 0 auto;
    text-align: center;
    font-size: 4.4rem;
    margin-bottom: 5rem;
}

.tumbstone-img {
    width: 100%;
    height: 60rem;
    margin: 0 auto;
    overflow: hidden;
}
.tumbstone-img > img {
    min-width: 100%;
    min-height: 60rem;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: var(--brds);
}


blockquote {
    margin: 5rem auto;
    font-size: 2rem;
    background-color: #2b2b2b;
    color: #fff;
    border-left: 1rem solid #1e1e1e;  
    padding: 6rem;
    font-style: italic;
    font-weight: bolder;
    font-size: 3.5rem;
    text-align: center;
    border-radius: var(--brds);
    position: relative;
}

blockquote.epitaph::after,
blockquote.epitaph::before {
    position: absolute;
    color: #c5c5c5;
    font-size: 8rem;
    width: 5rem;
    height: 5rem;
}

blockquote::after,
blockquote::before {
    position: absolute;
    color: #4d4d4d;
    font-size: 8rem;
    width: 5rem;
    height: 5rem;
}

blockquote::before {
    content: '“';
    left: 5rem;
    top: 3rem;
}

blockquote::after {
    content: '”';
    right: 5rem;
    bottom: 3rem;
}

.footer {
    width: 100%;
    height: 70vh;
    background: url(../images/footer-bg/footer-bg06.jpg) center top no-repeat;
    background-size: 100% 100%;
    margin-top: 10rem;
}

.social-media {
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.social-media a {
    display: block;
    font-size: 8rem;
    text-decoration: none;
    text-align: center;
    color: #2b2b2b;
    
}

.fa-brands {
    color: #2b2b2b;
    font-size: 8rem;
    border-radius: 10%;
    padding: 1.5rem;
}

.fa-brands:hover {
    cursor: pointer;
    background-color: #2b2b2b;
    color: #ffe;
    transition: ease-in-out .25s;
}

/* DEFAUT CLASSES */

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    border-radius: var(--brds);
    position: relative;
    z-index: 1;
}

